<div class="header">
    <img src="assets/Images/Saketa logo.png">
    <div>
        <p>Employee Directory</p>
        <p>The Ultimate People Directory Experience</p>
    </div>
    <div>
        <div class="pd-25">
            <span>Welcome, </span>
            <span>{{ username }}</span>
            <!-- <span>Andrew Philips{{ username.value }}</span> -->
        </div>
        <img src="assets/Images/User-icon-Philips.png">
    </div>
    <!-- <div *ngFor="let claim of claims">{{claim.type}} : {{claim.value}}</div> -->
  </div>