:host {
    height: 100%;
}

.container-body {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container-search {
    width: calc(100% - 170px);
    display: flex;
    flex-direction: column;
}