:host {
    height: 100%;
    font-family: Ebrima, sans-serif;
    padding: 25px 30px 30px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 80px;
    padding: 10px 0;
    display: inline-flex;
    width: 100%;
    border-bottom: 2px solid #F0F0F0;
}

.header>img {
    margin-right: 10px;
    height: fit-content;
}

.header p:first-child, :host span:first-child {
    color: #03B2FC;
}

.header p:first-child {
    font-size: 28px;
    margin: 0;
}

.header p:last-child, :host span:last-child {
    color: #878787;
}

.header p:last-child {
    font-size: 15px;
    line-height: 8px;
    margin: 0;
}

.header>div:last-child {
    margin-left: auto;
    display: inline-flex;
    font-size: 25px;
}

.pd-25 {
    padding-top: 21px;
    margin-right: 10px;
}

.header>div img {
    height: fit-content;
}

