<div class="header">
  <img src="assets/Images/Saketa logo.png">
  <div>
      <p>Employee Directory</p>
      <p>The Ultimate People Directory Experience</p>
  </div>
  <div>
      <div class="pd-25">
          <span>Welcome, </span>
          <span>Andrew Philips</span>
      </div>
      <img src="assets/Images/User-icon-Philips.png">
  </div>
</div>
<!-- <app-container-body></app-container-body> -->
<div class="container-body">
    <app-filter-navbar></app-filter-navbar>
    <div class="container-search">
        <app-search-filter></app-search-filter>
    </div>
</div>