:host {
    height: 350px;
    border: 2px solid #ebebeb;
    padding: 0 10px;
    padding-bottom: 15px;
    overflow-y: auto;
}

// :host>div>div:first-child {
//     background-color: #E9E8E8;
//     width: 24%;
//     padding: 8px;
//     display: inline-flex;
//     margin: 15px 5px 0;
// }

:host {
    div {
        div:first-child {
            background-color: #e9e8e8;
            // width: 24%;
            width: 100%;
            padding: 8px;
            display: inline-flex;
            // margin: 15px 5px 0;
            div {
                margin-left: 8px;
                div {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        // div {
        //     // div {
        //     //     // margin-left: 8px;
        //     // }
        // }
    }
}

img {
    height: 61px;
}

// :host > div > div > div {
//     margin-left: 8px;
// }

:host > div > div > div > div {
    font-size: 10px;
    color: #969595;
}

:host > div > div > div > div:first-child {
    font-size: 13px;
    font-weight: 600;
    color: #595959;
}

i {
    margin-right: 6px;
    font-size: 12px;
}

.modalProfileCard {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.wd-24 {
    width: 24%;
    display: inline-block;
    margin: 15px 5px 0;
}

.wd-calc {
    width: calc(100% - 57px);
}

// .mar-0 {
//     margin: 0;
// }

// .pd-0 {
//     padding: 0;
// }

