<!-- <div>
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
</div> -->
<!-- <app-display-card *ngFor="let emp of empData"></app-display-card> -->
<!-- <div *ngFor="let emp of filteredEmpData" class="wd-24">
    <div (click)="changeDisplayStatus(emp.id)">
        <img src="assets\Images\User image.jpg">
        <div class="wd-calc">
            <div class="displayName">{{ emp.preferredName }}</div>
            <div class="displayJobTitle">{{ emp.jobTitle }}</div>
            <div class="displayDept">{{ emp.department }} Department</div>
            <div>
                <i class="fas fa-phone-square-alt"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-comment"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-heart"></i></div>
        </div>
    </div>
    <p>{{ item1 }}</p>
    <div *ngIf="displayStatus==true" id="EmpDetails" class="modalProfileCard">
        <app-employee-info [item]="empId" (displayStatusEvent)="changeDisplayFalse($event)"></app-employee-info>
    </div>
</div> -->
