.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
    font-size: 21px;
    color: #676666;
}

.modal-content p {
    font-size: 12px;
}

.modal-content hr {
    margin-bottom: 10px;
    color: #676666;
}

.modal-content div {
    height: 22.1em;
    overflow-y: auto;
    margin-bottom: 30px;
}

.modal-content label {
    font-size: 15px;
    color: #676666;
}

.modal-content input, .modal-content select {
    height: auto;
    width: 100%;
    padding: 10px;
    margin: 2px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.add-clear button {
    height: 28px;
    width: 60px;
    margin-left: 5px;
    background-color: #00B1FC;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

